@import "../../assets/scss/variables.scss";

.container-fluid img {
  width: 300px;
}

.button-box {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-grid {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

// LOADER
.progress-line,
.progress-line:before {
  height: 5px;
  width: 100%;
  margin: 0;
}
.progress-line {
  position: absolute;
  bottom: 0;
  background-color: $color-secondary-100;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: $color-secondary-900;
  content: "";
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
